/* Estilos para avatares de usuario y máquina */
.avatar {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #45007e;
    margin: 0px 20px 0px 20px;
}

.avatar img {
    width: 100%;
    height: auto;
}