/* Estilos para los campos de entrada */
.nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  color: #37015b;
  background-color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  width: 80%;
  border: 1px solid #fff;
  margin-top: 1.5vw;
}