.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.areaJuego {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:flex-start;
  justify-content:space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

/* Estilos compartidos para áreas de juego del usuario y la máquina */
.areaUsuario, .areaMaquina {
  width: 35%;
  margin-top: 1.5vw;
}

/* Estilos para el contenedor de datos o parte central */
.areaDatos {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-ataque {
  position: fixed;
  bottom: 0;
}