.marcador-round {
  height: 0;
  /* margin-top: 1.3vh; */
  border-right: 1.8vw solid transparent;
  border-left: 1.8vw solid transparent;
  border-bottom: 7.5vh solid #D9D9D9;
}

.marcador-round p {
  color: #2b0147;
  text-align: center;
  margin-top: 1.8vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}